* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear::before, .clear::after {
  content: "";
  display: block;
  visibility: hidden;
  line-height: 0;
  height: 0;
  clear: both;
}
